#Local Enveironment
#DB_USERNAME=
#DB_PASSWORD=
#DB_PORT=
#DB_HOST=
#DB_NAME=

#Deploy Environment
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_HOST=
DB_NAME=

#App Environment
APP_PORT=
APP_HOST=

#MongoDB URL
MONGO_URL=